<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/app.css" />
		<style>
			
			.addrec {
				padding: 5px;
			}
			
			.name {
				font-size: 14px;
				line-height: 30px;
				height: 30px;
				overflow: hidden;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
			<!--整体作为scroll，否则无法下拉列表-->
			<div class="mui-scroll">
				<div id="slider" class="mui-slider">
					<div id="lunbo" class="mui-slider-group mui-slider-loop">
					</div>
					<div id="lunbo-indicator" class="mui-slider-indicator mui-text-right">
								<div class="mui-indicator mui-active"></div>
								<div class="mui-indicator"></div>
								<div class="mui-indicator"></div>
								<div class="mui-indicator"></div>
						</div>
				</div>
				<div id="recommend" class="mui-table-view  own-gray-color">				
				</div>
			</div>
		</div>
		
		<script type="text/template" id="loopTpl">
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="javascript:;" data-url="<%=list[list.length-1].url%>">
					<img src="<%=list[list.length-1].img%>">
					<p class="mui-slider-title">
						<%=list[list.length-1].title%>
					</p>
				</a>
			</div>
			<% _.each(list, function(v, i){ %>
			<div class="mui-slider-item">
				<a href="javascript:;" data-url="<%=v.url%>">
					<img src="<%=v.img%>">
					<p class="mui-slider-title">
						<%=v.title%>
					</p>
				</a>
			</div>
			<% }) %>
			<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="javascript:;" data-url="<%=list[0].url%>">
					<img src="<%=list[0].img%>">
					<p class="mui-slider-title">
						<%=list[0].title%>
					</p>
				</a>
			</div>
		</script>
		<script type="text/template" id="indicatorTpl">
			<% _.each(list, function(v, i){ %>
			<% if(i == 0){ %>
			<div class="mui-indicator mui-active"></div>
			<% } else { %>
			<div class="mui-indicator"></div>
			<% } %>
			<% }) %>
		</script>
		
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js"></script>
		<script  src="../js/mjs.js" ></script>
		<script src="../js/zepto.min.js"></script>
		<script src="../js/underscore.js"></script>
	
		<script>
		var loopTplRender = _.template($("#loopTpl").html());
		var indicatorTplRender = _.template($("#indicatorTpl").html());
			
		var lunboArray = [];//轮播
		var recommendArray = [];//推荐新闻数组
		var typeVal='recomm';
		
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					}
				},
//				preloadPages:[{
//				    id:'news-detail.html',
//				    url:'news-detail.html'           
//				}]
				 
			});
			
			
			
			mui.plusReady(function() {
				
				window.addEventListener('leftMenuSel',function(event){          
			         typeVal = event.detail.type;
			         console.log('event'+typeVal);
			         pulldownRefresh();
			    });
			
				console.log(typeVal);
				pulldownRefresh();
				//预加载父子模版
//				initTemplate();
			});
			
			mui('.mui-table-view').on('tap', 'a', function() {
				var index = this.getAttribute("data-url");
				// plus.runtime.openURL(url);
				//plus.webview.currentWebview().loadURL(url);
//				mui.preload({
//				    url:'news-detail.html',
//				    id:'news-detail.html',//默认使用当前页面的url作为id
//				    styles:{},//窗口参数
//				    extras:{}//自定义扩展参数
//				});

//				plus.webview.open('news-detail.html','news-detail.html');//替代预加载，使用fire传递参数
//						var detailPage = null;
//						//获得详情页面
//						  if(!detailPage){
//						    detailPage = plus.webview.getWebviewById('news-detail.html');
//						  }
//						mui.fire(detailPage,"buttonClick",{
//				            "url":recommendArray[index].url,
//				            "title":recommendArray[index].title
//				        });

				mui.openWindow({
					id: "news-detail.html",
					url: "news-detail.html",
					waiting: {
						autoShow: false
					},
					extras:{
				     url:recommendArray[index].url,
				     title:recommendArray[index].title//扩展参数
				    },
				});
				
			});

	

			function carousel() {
				mui.ajax({
					url: Common.api + '?id='+typeVal+'&page=1',
					async: true,
					cache: false,
					method: 'get',
					dataType: 'json',
					headers:Common.apikey,
					success: function(data) {
//						console.log(JSON.stringify(data));
						if (data.code == 0) {
							
							if(recommendArray.length>0) recommendArray = [];
							if(lunboArray.length>0) lunboArray = [];
							
							mui.each(data.data.article,function(index,item){
								var dataItem = {};
								dataItem.title = item.title;
								dataItem.url = item.url;
								dataItem.img = item.img;
								dataItem.author = item.author;
								dataItem.time = item.time;
								recommendArray.push(dataItem);
								if(index<4)
									lunboArray.push(dataItem);
//								console.log('1');
							});
							setLunbo();
							//设置推荐商品
							setRecommend();
							mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
						}
						
					}
				});
			}
		//设置推荐新闻
		

   function getLocalTime(nS) {       
    	return  new Date(parseInt(nS) * 1000).Format("yyyy-MM-dd hh:mm");    
 	}       
	Date.prototype.Format = function (fmt) { //author: meizz   
        var o = {  
            "M+": this.getMonth() + 1, //月份   
            "d+": this.getDate(), //日   
            "h+": this.getHours(), //小时   
            "m+": this.getMinutes(), //分   
            "s+": this.getSeconds(), //秒   
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
            "S": this.getMilliseconds() //毫秒   
        };  
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));  
        for (var k in o)  
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));  
        return fmt;  
    }  
    
    function setLunbo(){
    	
    	var obj = {
				list: lunboArray
			};
		$("#loop").html(loopTplRender(obj));
		$("#indicator").html(indicatorTplRender(obj));
		mui("#carouselSlider").slider({
			interval: 5000
		});

//			var lunbo = document.getElementById('lunbo');
//			var firstDiv="";
//			var lastDiv = "";
//			var tempFDiv =document.createElement('tempF');
//			var tempLDiv =document.createElement('tempL');
//			lunbo.innerHTML="";//清空lunbo
//		
//			console.log('q'+lunbo.innerHTML);
//			mui.each(lunboArray,function(index,item){		
//				if(index>3)return;
//				console.log(index);
//				var div = document.createElement('div');
//				div.className = 'mui-slider-item mui-slider-item-duplicate ';
//				div.innerHTML = '<a data-url="'+index+'" href="javascript:;">\
//						<img  height=200 src="'+item.img+'"/>\
//							<p class="mui-slider-title">'+item.title+'</p>\
//						</a>';
//						
//				lunbo.appendChild(div);
//				if(index==0){
//					firstDiv = div;
//				}else if(index == 3){
//					console.log(lunbo.innerHTML);
//					lastDiv = div;
//					mjs('.mui-slider-group').prepend('<div class="mui-slider-item mui-slider-item-duplicate ">'+lastDiv.innerHTML+'</div>');
//					mjs('.mui-slider-group').append('<div class="mui-slider-item mui-slider-item-duplicate ">'+firstDiv.innerHTML+'</div>');
//					console.log('123'+mjs('.mui-slider-group').first().html());
////					lunbo.appendChild(tempLDiv);
////					lunbo.replaceChild(lastDiv,tempFDiv);
//				}
//				
//			});
////			lunbo.appendChild(firstDiv);
////			console.log(lunbo.innerHTML);
//			var slider = mui("#slider");
//			slider.slider({
//					interval: 5000
//				});
    }
    
    function setRecommend(){
			var recommend = document.getElementById('recommend');
			recommend.innerHTML="";//清空list
			mui.each(recommendArray,function(index,item){
				var li = document.createElement('li');
				li.className = 'mui-table-view-cell mui-media ';
				li.innerHTML = '<a data-url="'+index+'" href="javascript:;">\
						<img class="mui-media-object mui-pull-left" src="'+item.img+'"/>\
						<button type="button" class="mui-btn mui-btn-primary">蓝色</button>\
						<div class="mui-media-body">\
							<p class="mui-ellipsis">'+item.title+'</p>\
							<p class="mui-ellipsis">'+getLocalTime(item.time)+'</p>\
						</div>\
				</a>';
//				console.log(li.innerHTML);
				recommend.appendChild(li);
			});
		}
    
			function pulldownRefresh() {
				carousel();
			}
		</script>
	</body>

</html>